<div class="title" *ngIf="start">

            <div class="text-center mt30">
                <img src="http://localhost:8080/widget-animate/image/{{widget.image}}" class="image">
            </div>
            <div class="text-center text">
                <strong>{{donate.summ}} РУБ.</strong><br>
                <br>
                <span class="mt5">{{donate.donationName}}</span>
                <h3 class="mt5">{{donate.message}}</h3>
            <audio class="hidden" controls autoplay="true" loop="true" preload="auto">
                <source src="../../../assets/audio/{{widget.music}}" type="audio/mpeg">
            </audio>
            </div>
        </div>
<!-- 
        <audio class="hidden" controls preload="metadata">
            <source src="../../../assets/audio/{{widget.music}}" type="audio/mpeg">
        </audio> -->
