<mat-card>
    <mat-card-title class="mb15">Ваши выплаты</mat-card-title>
    <mat-card-subtitle class="mt15">Всего успешных операций: {{user.withDrawCount}} шт. на сумму: {{user.withDrawSumm}} руб.</mat-card-subtitle>
    <h1><strong>Баланс: {{user.balance}} руб.</strong></h1>
    <p>Сумма не должна быть меньше 50 рублей</p>
    <form class="ml15" (submit)="withdrawSubmit()">
        <div class="row">
        <mat-form-field appearance="outline" class="full-width">
            <mat-label>Сумма вывода</mat-label>
            <input 
            required 
            name="userName"
            type="number"
            min="50"
            [(ngModel)]="withDrawSummPay"
            matInput placeholder="Введите сумму">
          </mat-form-field>
          <div class="mt10 ml15">
            <button type="submit" mat-raised-button color="primary">Сделать выплату</button>
      </div>
      </div>
        </form>

    <table mat-table [dataSource]="withdraws" class="mat-elevation-z8">
       <ng-container matColumnDef="summWithdraw">
         <th mat-header-cell *matHeaderCellDef> Сумма вывода </th>
         <td mat-cell *matCellDef="let element"> {{element.summWithdraw}} руб.</td>
       </ng-container>
     
       <ng-container matColumnDef="dateWithdraw">
         <th mat-header-cell *matHeaderCellDef> Дата операции </th>
         <td mat-cell *matCellDef="let element"> {{element.dateWithdraw}} </td>
       </ng-container>
     
       <ng-container matColumnDef="status">
         <th mat-header-cell *matHeaderCellDef> Статус операции </th>
         <td mat-cell *matCellDef="let element"> {{element.status}} </td>
       </ng-container>
     
       <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
       <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
     </table>
     
   </mat-card>