<div class="bootstrap-wrapper">
    <div class="container">
        <div class="row ">

            <div class="col-md-6 offset-md-3">
              <mat-card>
                <div class="container text-center">
                </div>
                <h1 class="text-center">Редактирование данных</h1>

                <!-- {{user | json}} -->
                <form (ngSubmit)="saveProfile()">
                <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Логин</mat-label>
                    <input 
                    required 
                    [(ngModel)]="user.userName"
                    name="userName"
                    matInput placeholder="Введите логин">
                    <mat-hint>Имя пользователя должно быть уникальным</mat-hint>
                  </mat-form-field>
                  <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Пароль</mat-label>
                    <input
                    [(ngModel)]="user.password" 
                    name="password"
                    type="password" matInput placeholder="Введите пароль">
                  </mat-form-field>
                  <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Минимальный донат(Мин 1 руб.)</mat-label>
                    <input 
                    required
                    min=1
                    [(ngModel)]="user.minSummDonate"
                    name="minSummDonate"
                    type="number" matInput placeholder="Введите минимальный донат">
                  </mat-form-field>
                  <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Почта</mat-label>
                    <input 
                    required
                    [(ngModel)]="user.email"
                    name="email"
                    type="email" matInput placeholder="Введите свою почту">
                  </mat-form-field>
                  <div class="container text-center">
                      <button type="submit" mat-raised-button color="primary">Сохранить</button>
                </div>
                </form>
              </mat-card>
            </div>
        </div>


    </div>



</div>