<mat-card style="color: #1c1c1c;"> 
    <mat-action-list>

        <div mat-subheader>
            Меню
        </div>
            <button routerLink="/dashboard" mat-list-item>
                <mat-icon mat-list-icon>av_timer</mat-icon>
                Панель управления
            </button>
            <button routerLink="/dashboard/message" mat-list-item >
                
                <mat-icon mat-list-icon>message</mat-icon>
                Мои сообщения
            </button>
            <button routerLink="/dashboard/widgets" mat-list-item >
                
                <mat-icon mat-list-icon>widgets</mat-icon>
                Виджеты
            </button>
            <button routerLink="/dashboard/profile" mat-list-item >
                
                <mat-icon mat-list-icon>account_circle</mat-icon>
                Профиль
            </button>
            <button routerLink="/dashboard/withdraw" mat-list-item >
                
                <mat-icon mat-list-icon>payments</mat-icon>
                Вывод средств
            </button>
        

    </mat-action-list>
</mat-card>